
<div class="col-lg-9">
    <div class="blog-sec right-pading">
        <div class="post-filter-sec">
        <span>Department List</span>
        <div class="purify">
            
            <form action="/depost/filter" method="post">
                <select style="width: 100%;" name="select">
                    {{#if select}}
                        <option value="{{curr_id}}">{{select}}</option>
                    {{else}}
                        <option value="">All Department</option>
                    {{/if}}
    
                    {{#each departlst}}
                        {{#ifEquals departName ../select}}
                    {{else}}
                        <option value="{{id}}">{{departName}}</option>
                        {{/ifEquals}}
                    {{/each}}
                </select>
                <button type="submit" class="btn btn-outline-info"><i class="ti-filter"></i></i>
                    Filter</button>
        </div>
        </form>
    </div>
    </div>
        <div class="row">
            {{#each departlst}}
            <div class="col-6 col-sm-3">
                <div class="g-post-classic">
                    <figure>
                        <img alt="" src="/images/resources/bloggrid-6.jpg" >
                    </figure>
                    <div class="g-post-meta">
                        <div class="post-title">
                            <div><a title="{{departName}}" href="/depost/filter/{{id}}/1">{{departName}}</a></div>
                        </div>
                        <div>
                            {{count}} post
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>