<div class="col-lg-9">
    <div class="blog-sec right-pading">
        <div class="blog-sec right-pading">
            <div class="l-post">
                <div class="l-post-meta">
                    <div class="detail-page">
                        <div class="detail-meta" id="detail{{noti.id}}">
                            <h2>{{{noti.title}}}</h2>

                            <div class="post-time">
                                <div class="author-thumb">
                                    <span><a href="/depost/filter/{{noti.department}}/1" title="">{{noti.departmentName}}</a></span>
                                </div>
                                <span class="post-date">
                                    <i class="fa fa-calendar"></i>
                                    <a title="" href="#">{{noti.date}}</a>
                                </span>
                            </div>
                            <p>{{{noti.content}}}</p>


                            <div class="tag-n-cat">
                                <div class="tags">
                                    <span><i class="fa fa-filter"></i> Department:</span>
                                    <a href="/depost/filter/{{noti.department}}/1" title="">{{noti.departmentName}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
