<body>
    <!--<div class="se-pre-con"></div>-->
    <div class="theme-layout">
        <section>
            <div class="feature-photo">
                <figure><img src="/images/resources/timeline-1.jpg" alt=""></figure>
                <form class="edit-phto">
                    <i class="fa fa-camera-retro"></i>
                    <label class="fileContainer">
                        Edit Cover Photo
                        <input type="file" />
                    </label>
                </form>
                <div class="container-fluid">
                    <div class="row merged">
                        <div class="col-lg-2 col-sm-3">
                            <div class="user-avatar">
                                <figure>
                                    {{#if user.image_url}}
                                        <img src="{{user.image_url}}" alt="">
                                    {{else}}
                                        <img src="images/resources/user-avatar.jpg" alt="">
                                    {{/if}}
                                    <form class="edit-phto">
                                        <i class="fa fa-camera-retro"></i>
                                        <label class="fileContainer">
                                            Edit Display Photo
                                            <input type="file" />
                                        </label>
                                    </form>
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-10 col-sm-9">
                            <div class="timeline-info">
                                <ul>
                                    <li class="admin-name">
                                        <h5>{{user_show.name}}</h5>
                                        <span>{{user_show.email}}</span>
                                    </li>
                                    <li>
                                        <a class="active" href="/me/{{user._id}}" title="" data-ripple="">time
                                            line</a>
                                        <a class="" href="timeline-photos.html" title="" data-ripple="">Photos</a>
                                        {{#ifEquals user._id user_show._id}}
                                            <a class="" href="/edit/{{user._id}}" title="" data-ripple="">Edit Account</a>
                                        {{/ifEquals}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- top area -->

        <section>
            <div class="gap gray-bg">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row" id="page-contents">
                                <div class="col-lg-3">
                                    <aside class="sidebar static">
                                        <div class="widget">
                                            <h4 class="widget-title">Shortcuts</h4>
                                            <ul class="naves">
                                                <li>
                                                    <i class="ti-clipboard"></i>
                                                    <a href="/" title="">News feed</a>
                                                </li>
                                                <li>
                                                    <i class="ti-files"></i>
                                                    <a href="/me" title="">My pages</a>
                                                </li>
                                                <li>
                                                    <i class="fa fa-edit"></i>
                                                    <a href="/edit/{{user._id}}" title="">Edit account</a>
                                                </li>
                                                <li>
                                                    <i class="ti-bell"></i>
                                                    <a href="/depost" title="">Department Post</a>
                                                </li>
                                                <button type="button" onclick="signOut()" class="btn btn-outline-info"><i class="ti-power-off"></i> Log
                                                    Out</button>
                                            </ul>
                                        </div><!-- Shortcuts -->
                                    </aside>
                                </div><!-- sidebar -->
                                <div class="col-lg-6">
                                    
                                    <div class="loadMore" id = "list_post">
                                        {{#each post}}
                                            <div class="central-meta item" id = "postDiv{{id}}">
                                                <div class="user-post">
                                                    <div class="friend-info">
                                                        <figure>
                                                            <img src="/images/resources/friend-avatar10.jpg" alt="">
                                                        </figure>
                                                        <div class="friend-name">
                                                            <ins><a href="/me/{{user._id}}" title="">{{user.name}}</a>
                                                                {{#ifEquals user._id ../user._id }}
                                                                    <i class="fa fa-remove" style="cursor: pointer;float: right;margin-right:10px;"
                                                                    data-toggle="modal" data-target="#deletePost" onclick="showDelPost('{{id}}')"></i>

                                                                    <i class="fa fa-edit" style="cursor: pointer;float: right;margin-right:10px;"
                                                                    data-toggle="modal" data-target="#editPost" onclick="showPost('{{id}}')" ></i>
                                                                {{/ifEquals}}
                                                            </ins>
                                                            <span>published: {{create_date}}</span>
                                                        </div>
                                                        <div class="description">
                                                            <p id = "contentPost{{id}}">{{content}}</p>
                                                        </div>
                                                        <div class="post-meta">
                                                            {{#if image}}
                                                                <img src={{image}} alt="" id = "imgPost{{id}}">
                                                            {{/if}}
                                                            {{#if youtube_url}}
                                                                <p id = "videoPost{{id}}" hidden>{{youtube_url}}</p>
                                                                <iframe width="420" height="315"
                                                                    src= {{youtube_url}}
                                                                    allow="autoplay;" allowfullscreen
                                                                    id = "if_frame{{id}}"
                                                                    >
                                                                </iframe >
                                                            {{/if}}															
                                                            <div class="we-video-info">
                                                                <ul>
                                                                    <li>
                                                                        <span class="like" data-toggle="tooltip"
                                                                            title="like">
                                                                            <i class="ti-heart"></i>
                                                                            <ins>2.2k</ins>
                                                                        </span>
                                                                    </li>
                                                                    <li>
                                                                        <span class="comment" data-toggle="tooltip"
                                                                            title="Comments">
                                                                            <i class="fa fa-comments-o"></i>
                                                                            <ins>52</ins>
                                                                        </span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="coment-area">
                                                        <ul class="we-comet">
                                                            <li class="post-comment">
                                                                <div class="comet-avatar">
                                                                    <img src="/images/resources/comet-1.jpg" alt="">
                                                                </div>
                                                                <div class="post-comt-box">
                                                                    <form method="post">
                                                                        <textarea placeholder="Post your comment"
                                                                            id="comment_content{{id}}"
                                                                            onkeypress="post_comment(event,'{{id}}')"></textarea>
                                                                        <div class="add-smiles">
                                                                            <span class="em em-expressionless"
                                                                                title="add icon"></span>
                                                                        </div>
                                                                        <button type="submit"></button>
                                                                    </form>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <ul class="we-comet"  id = "post_comment{{id}}">
                                                            {{#each comment}}	
                                                            <li id ="commentLi{{id}}">
                                                                <div class="comet-avatar">
                                                                    <img src="/images/resources/comet-1.jpg">
                                                                </div>
                                                                <div class="we-comment">
                                                                    <div class="coment-head">
                                                                        <h5><a href="time-line.html" >{{user.name}}</a>
                                                                        </h5>
                                                                        <span>{{create_date}}</span>

                                                                        {{#ifEquals user._id ../../user._id }}
                                                                        <i class="fa fa-remove" style="cursor: pointer;float: right;margin-right:10px;" data-toggle="modal"
                                                                            data-target="#deleteComment" onclick="showDelComment('{{id}}')"></i>
                                                                        
                                                                        <i class="fa fa-edit" style="cursor: pointer;float: right;margin-right:10px;" data-toggle="modal"
                                                                            data-target="#editComment" onclick="showComment('{{id}}')"> </i>
                                                                        {{/ifEquals}}	


                                                                    </div>
                                                                    <p id="content_comment{{id}}">{{content}}</p>
                                                                </div>
                                                            </li>																														
                                                            {{/each}}													
                                                        </ul>
                                                        <ul class="we-comet">
                                                            <li>
                                                                <a href="#" title="" class="showmore underline">more
                                                                    comments</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>									
                                        {{/each}}
                                    </div>
                                </div><!-- centerl meta -->
                                <!-- The Modal Post -->
                                <div class="modal fade" id="editPost">
                                    <form id="formSubmitEdit" method="post" onsubmit="putForm(event)" enctype="multipart/form-data">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                            <input id="postEdit" name = "id" type="hidden">	
                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Edit Post</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                <textarea placeholder="Edit your post"
                                                    id="edit_post"
                                                    name="content"
                                                ></textarea>
                                                <div class="attachments">
                                                    <b><hr></b>
                                                    <ul>
                                                        <li id = "image_edit_icon">
                                                            <i class="fa fa-image" ></i>
                                                            <label class="fileContainer">
                                                                <input id="file_edit" type="file" name="img" accept="image/*" onchange="previewFileEdit(this);">
                                                            </label>
                                                        </li>
                                                        <li id = "video_edit_icon">
                                                            <i class="fa fa-video-camera"></i>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <img style="display: none;" id="previewImgEdit">	
                                                <div style="display: none;" id = "youtube_link_edit">
                                                    <div class="input-group-prepend" >
                                                        <span class="input-group-text" id="inputGroup-sizing-lg">Youtube link</span>
                                                    </div>
                                                    <input type="text" id ="video_youtube_edit" class="form-control" name = "video" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                                                </div>																													
                                            </div>
                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button type="submit" class="btn" >Confirm</button>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal" id ="close_post">Close</button>
                                            </div>
                                            </div>
                                        </div>
                                    </form>	
                                </div>			
                                <!-- The Modal Delete Post -->
                                <div class="modal fade" id="deletePost">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <input id="postDelete" type="hidden">
                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Delete Post</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                Do you want to delete Post?
                                            </div>
                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn" data-dismiss="modal" onclick="deletePost()">Confirm</button>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>											
                                <!-- The Modal Delete -->
                                <div class="modal fade" id="deleteComment">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <input id="commentDelete" type="hidden">
                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Delete comment</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                Do you want to delete comment?
                                            </div>
                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn" data-dismiss="modal" onclick="deleteComment()">Confirm</button>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- The Modal Edit -->
                                <div class="modal fade" id="editComment">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        <input id="commentEdit" type="hidden">	
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Edit comment</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <textarea placeholder="Edit your comment"
                                                id="edit_comment"></textarea>
                                        </div>
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-dismiss="modal" onclick="editComment()">Confirm</button>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>	
                                <div class="col-lg-3">
                                    <aside class="sidebar static right">
                                        <div class="widget">
                                            <div class="banner medium-opacity bluesh">
                                                <div class="bg-image" style="background-image: url(images/TDTU.png)">
                                                </div>
                                                <div class="baner-top">
                                                    <span><img alt="" src="/images/tdt.png"></span>
                                                    <i class="fa fa-ellipsis-h"></i>
                                                </div>
                                                <div class="banermeta">
                                                    <p>
                                                        See what news from TDTU
                                                    </p>
                                                    <span>Update news</span>
                                                    <a data-ripple="" title="" href="https://www.tdtu.edu.vn/">Check
                                                        now</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget friend-list stick-widget">
                                            <h4 class="widget-title">Department Posts <i class="fa fa-bell w3-text-red w3-large"></i></h4>
                                            <ul class="short-profile">
                                                <li>
                                                    <span><a href="#">Thông báo về việc Nộp học phí học kỳ 1 năm học
                                                            2021-2022 đợt 3
                                                            (đợt cứu xét cho các trường hợp trễ hạn)</a></span>
                                                    <p>Phòng Đại học | Ngày đăng 03/12/2021</p>
                                                </li>
                                                <li>
                                                    <span><a href="#">Lịch thi và danh sách thi cuối kỳ HKdt1/2021-2022
                                                        </a></span>
                                                    <p>Phòng Đại học | Ngày đăng 17/11/2021</p>
                                                </li>
                                                <li>
                                                    <span><a href="#">THÔNG BÁO V/v đăng ký môn học trong HK2/2021-2022
                                                            dành cho sinh viên các lớp tiêu chuẩn, chất lượng cao, đại
                                                            học bằng
                                                            tiếng anh từ khóa tuyển sinh 2020 trở về trước</a></span>
                                                    <p>Phòng Đại học | Ngày đăng 10/11/2021</p>
                                                </li>
                                                <li><a href="/depost">See more</a></li>
                                            </ul>
                                        </div>
                                    </aside>
                                </div><!-- sidebar -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="widget">
                            <div class="foot-logo">
                                <div class="logo">
                                    <a href="index-2.html" title=""><img src="/images/logo.png" alt=""></a>
                                </div>
                                <p>
                                    The trio took this simple idea and built it into the world’s leading carpooling
                                    platform.
                                </p>
                            </div>
                            <ul class="location">
                                <li>
                                    <i class="ti-map-alt"></i>
                                    <p>33 new montgomery st.750 san francisco, CA USA 94105.</p>
                                </li>
                                <li>
                                    <i class="ti-mobile"></i>
                                    <p>+1-56-346 345</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="widget">
                            <div class="widget-title">
                                <h4>follow</h4>
                            </div>
                            <ul class="list-style">
                                <li><i class="fa fa-facebook-square"></i> <a href="https://web.facebook.com/shopcircut/"
                                        title="">facebook</a></li>
                                <li><i class="fa fa-twitter-square"></i><a href="https://twitter.com/login?lang=en"
                                        title="">twitter</a></li>
                                <li><i class="fa fa-instagram"></i><a href="https://www.instagram.com/?hl=en"
                                        title="">instagram</a></li>
                                <li><i class="fa fa-google-plus-square"></i> <a href="https://plus.google.com/discover"
                                        title="">Google+</a></li>
                                <li><i class="fa fa-pinterest-square"></i> <a href="https://www.pinterest.com/"
                                        title="">Pintrest</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="widget">
                            <div class="widget-title">
                                <h4>Navigate</h4>
                            </div>
                            <ul class="list-style">
                                <li><a href="about.html" title="">about us</a></li>
                                <li><a href="contact.html" title="">contact us</a></li>
                                <li><a href="terms.html" title="">terms & Conditions</a></li>
                                <li><a href="#" title="">RSS syndication</a></li>
                                <li><a href="sitemap.html" title="">Sitemap</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="widget">
                            <div class="widget-title">
                                <h4>useful links</h4>
                            </div>
                            <ul class="list-style">
                                <li><a href="#" title="">leasing</a></li>
                                <li><a href="#" title="">submit route</a></li>
                                <li><a href="#" title="">how does it work?</a></li>
                                <li><a href="#" title="">agent listings</a></li>
                                <li><a href="#" title="">view All</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="widget">
                            <div class="widget-title">
                                <h4>download apps</h4>
                            </div>
                            <ul class="colla-apps">
                                <li><a href="https://play.google.com/store?hl=en" title=""><i
                                            class="fa fa-android"></i>android</a></li>
                                <li><a href="https://www.apple.com/lae/ios/app-store/" title=""><i
                                            class="ti-apple"></i>iPhone</a></li>
                                <li><a href="https://www.microsoft.com/store/apps" title=""><i
                                            class="fa fa-windows"></i>Windows</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer><!-- footer -->
    </div>

</body>
