<body>
    <!--<div class="se-pre-con"></div>-->
    <div class="theme-layout">
        <section>
            <div class="feature-photo">
                <figure><img src="images/resources/timeline-1.jpg" alt=""></figure>
                <div class="add-btn"><a href="#" title="" data-ripple="">Add Friend</a>
                    <span>1205 followers</span>
                </div>
                <form class="edit-phto">
                    <i class="fa fa-camera-retro"></i>
                    <label class="fileContainer">
                        Edit Cover Photo
                        <input type="file" />
                    </label>
                </form>
                <div class="container-fluid">
                    <div class="row merged">
                        <div class="col-lg-2 col-sm-3">
                            <div class="user-avatar">
                                <figure>
                                    <img src="images/resources/user-avatar.jpg" alt="">
                                    <form class="edit-phto">
                                        <i class="fa fa-camera-retro"></i>
                                        <label class="fileContainer">
                                            Edit Display Photo
                                            <input type="file" />
                                        </label>
                                    </form>
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-10 col-sm-9">
                            <div class="timeline-info">
                                <ul>
                                    <li class="admin-name">
                                        <h5>Janice Griffith</h5>
                                        <span>Group Admin</span>
                                    </li>
                                    <li>
                                        <a class="active" href="/me" title="" data-ripple="">time
                                            line</a>
                                        <a class="" href="timeline-photos.html" title="" data-ripple="">Photos</a>
                                        <a class="" href="/edit/{{user._id}}" title="" data-ripple="">Edit Account</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- top area -->

        <section>
            <div class="gap gray-bg">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row" id="page-contents">
                                <div class="col-lg-3">
                                    <aside class="sidebar static">
                                        <div class="widget">
                                            <h4 class="widget-title">Shortcuts</h4>
                                            <ul class="naves">
                                                <li>
                                                    <i class="ti-clipboard"></i>
                                                    <a href="/" title="">News feed</a>
                                                </li>
                                                <li>
                                                    <i class="ti-files"></i>
                                                    <a href="/me" title="">My pages</a>
                                                </li>
                                                <li>
                                                    <i class="fa fa-edit"></i>
                                                    <a href="/edit" title="">Edit account</a>
                                                </li>
                                                <li>
                                                    <i class="ti-image"></i>
                                                    <a href="timeline-photos.html" title="">images</a>
                                                </li>
                                                <button type="button" onclick="signOut()" class="btn btn-outline-info"><i class="ti-power-off"></i> Log
                                                    Out</button>
                                            </ul>
                                        </div><!-- Shortcuts -->
                                    </aside>
                                </div><!-- sidebar -->
                                <div class="col-lg-6">
                                    <div class="central-meta">
                                        <div class="new-postbox">
                                            <figure>
                                                <img src="images/resources/admin2.jpg" alt="">
                                            </figure>
                                            <div class="newpst-input">
                                                <form method="post">
                                                    <textarea rows="2" placeholder="write something"></textarea>
                                                    <div class="attachments">
                                                        <ul>
                                                            <li>
                                                                <i class="fa fa-music"></i>
                                                                <label class="fileContainer">
                                                                    <input type="file">
                                                                </label>
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-image"></i>
                                                                <label class="fileContainer">
                                                                    <input type="file">
                                                                </label>
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-video-camera"></i>
                                                                <label class="fileContainer">
                                                                    <input type="file">
                                                                </label>
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-camera"></i>
                                                                <label class="fileContainer">
                                                                    <input type="file">
                                                                </label>
                                                            </li>
                                                            <li>
                                                                <button type="submit">Post</button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div><!-- add post new box -->
                                    <div class="loadMore">
                                        {{#each post}}
                                            <div class="central-meta item">
                                                <div class="user-post">
                                                    <div class="friend-info">
                                                        <figure>
                                                            <img src="images/resources/friend-avatar10.jpg" alt="">
                                                        </figure>
                                                        <div class="friend-name">
                                                            <ins><a href="time-line.html"
                                                                    title="">{{user.name}}</a></ins>
                                                            <span>published: june,2 2018 19:PM</span>
                                                        </div>
                                                        <div class="description">
                                                            <p>
                                                                {{content}}
                                                            </p>
                                                        </div>
                                                        <div class="post-meta">
                                                            <img src="images/resources/user-post.jpg" alt="">
                                                            <div class="we-video-info">
                                                                <ul>
                                                                    <li>
                                                                        <span class="like" data-toggle="tooltip"
                                                                            title="like">
                                                                            <i class="ti-heart"></i>
                                                                            <ins>2.2k</ins>
                                                                        </span>
                                                                    </li>
                                                                    <li>
                                                                        <span class="comment" data-toggle="tooltip"
                                                                            title="Comments">
                                                                            <i class="fa fa-comments-o"></i>
                                                                            <ins>52</ins>
                                                                        </span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="coment-area">
                                                        <ul class="we-comet">
                                                            <li class="post-comment">
                                                                <div class="comet-avatar">
                                                                    <img src="images/resources/comet-1.jpg" alt="">
                                                                </div>
                                                                <div class="post-comt-box">
                                                                    <form method="post">
                                                                        <textarea placeholder="Post your comment"
                                                                            id="comment_content{{id}}"
                                                                            onkeypress="post_comment(event,'{{id}}')"></textarea>
                                                                        <div class="add-smiles">
                                                                            <span class="em em-expressionless"
                                                                                title="add icon"></span>
                                                                        </div>
                                                                        <button type="submit"></button>
                                                                    </form>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <ul class="we-comet" id="post_comment{{id}}">
                                                            {{#each comment}}
                                                                <li>
                                                                    <div class="comet-avatar">
                                                                        <img src="images/resources/comet-1.jpg">
                                                                    </div>
                                                                    <div class="we-comment">
                                                                        <div class="coment-head">
                                                                            <h5><a
                                                                                    href="time-line.html">{{user.name}}</a>
                                                                            </h5>
                                                                            <span>{{create_date}}</span>
                                                                        </div>
                                                                        <p>{{content}}</p>
                                                                </li>
                                                            {{/each}}
                                                        </ul>
                                                        <ul class="we-comet">
                                                            <li>
                                                                <a href="#" title="" class="showmore underline">more
                                                                    comments</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        {{/each}}
                                    </div>
                                </div><!-- centerl meta -->

                                <div class="col-lg-3">
                                    <aside class="sidebar static right">
                                        <div class="widget">
                                            <div class="banner medium-opacity bluesh">
                                                <div class="bg-image" style="background-image: url(images/TDTU.png)">
                                                </div>
                                                <div class="baner-top">
                                                    <span><img alt="" src="images/tdt.png"></span>
                                                    <i class="fa fa-ellipsis-h"></i>
                                                </div>
                                                <div class="banermeta">
                                                    <p>
                                                        See what news from TDTU
                                                    </p>
                                                    <span>Update news</span>
                                                    <a data-ripple="" title="" href="https://www.tdtu.edu.vn/">Check
                                                        now</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget friend-list stick-widget">
                                            <h4 class="widget-title">Department Posts <i class="fa fa-bell w3-text-red w3-large"></i></h4>
                                            <ul class="short-profile">
                                                <li>
                                                    <span><a href="#">Thông báo về việc Nộp học phí học kỳ 1 năm học
                                                            2021-2022 đợt 3
                                                            (đợt cứu xét cho các trường hợp trễ hạn)</a></span>
                                                    <p>Phòng Đại học | Ngày đăng 03/12/2021</p>
                                                </li>
                                                <li>
                                                    <span><a href="#">Lịch thi và danh sách thi cuối kỳ HKdt1/2021-2022
                                                        </a></span>
                                                    <p>Phòng Đại học | Ngày đăng 17/11/2021</p>
                                                </li>
                                                <li>
                                                    <span><a href="#">THÔNG BÁO V/v đăng ký môn học trong HK2/2021-2022
                                                            dành cho sinh viên các lớp tiêu chuẩn, chất lượng cao, đại
                                                            học bằng
                                                            tiếng anh từ khóa tuyển sinh 2020 trở về trước</a></span>
                                                    <p>Phòng Đại học | Ngày đăng 10/11/2021</p>
                                                </li>
                                                <li><a href="/depost">See more</a></li>
                                            </ul>
                                        </div>
                                    </aside>
                                </div><!-- sidebar -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="widget">
                            <div class="foot-logo">
                                <div class="logo">
                                    <a href="index-2.html" title=""><img src="images/logo.png" alt=""></a>
                                </div>
                                <p>
                                    The trio took this simple idea and built it into the world’s leading carpooling
                                    platform.
                                </p>
                            </div>
                            <ul class="location">
                                <li>
                                    <i class="ti-map-alt"></i>
                                    <p>33 new montgomery st.750 san francisco, CA USA 94105.</p>
                                </li>
                                <li>
                                    <i class="ti-mobile"></i>
                                    <p>+1-56-346 345</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="widget">
                            <div class="widget-title">
                                <h4>follow</h4>
                            </div>
                            <ul class="list-style">
                                <li><i class="fa fa-facebook-square"></i> <a href="https://web.facebook.com/shopcircut/"
                                        title="">facebook</a></li>
                                <li><i class="fa fa-twitter-square"></i><a href="https://twitter.com/login?lang=en"
                                        title="">twitter</a></li>
                                <li><i class="fa fa-instagram"></i><a href="https://www.instagram.com/?hl=en"
                                        title="">instagram</a></li>
                                <li><i class="fa fa-google-plus-square"></i> <a href="https://plus.google.com/discover"
                                        title="">Google+</a></li>
                                <li><i class="fa fa-pinterest-square"></i> <a href="https://www.pinterest.com/"
                                        title="">Pintrest</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="widget">
                            <div class="widget-title">
                                <h4>Navigate</h4>
                            </div>
                            <ul class="list-style">
                                <li><a href="about.html" title="">about us</a></li>
                                <li><a href="contact.html" title="">contact us</a></li>
                                <li><a href="terms.html" title="">terms & Conditions</a></li>
                                <li><a href="#" title="">RSS syndication</a></li>
                                <li><a href="sitemap.html" title="">Sitemap</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="widget">
                            <div class="widget-title">
                                <h4>useful links</h4>
                            </div>
                            <ul class="list-style">
                                <li><a href="#" title="">leasing</a></li>
                                <li><a href="#" title="">submit route</a></li>
                                <li><a href="#" title="">how does it work?</a></li>
                                <li><a href="#" title="">agent listings</a></li>
                                <li><a href="#" title="">view All</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="widget">
                            <div class="widget-title">
                                <h4>download apps</h4>
                            </div>
                            <ul class="colla-apps">
                                <li><a href="https://play.google.com/store?hl=en" title=""><i
                                            class="fa fa-android"></i>android</a></li>
                                <li><a href="https://www.apple.com/lae/ios/app-store/" title=""><i
                                            class="ti-apple"></i>iPhone</a></li>
                                <li><a href="https://www.microsoft.com/store/apps" title=""><i
                                            class="fa fa-windows"></i>Windows</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer><!-- footer -->
    </div>

</body>
